.hero {
    position: relative;

}

.bg img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.desc {
    position: relative;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 150px;
    max-width: 800px;
    margin: 0 auto;
}

.desc-title {
    font-size: 67px;
    font-weight: 700;
    color: var(--bg-btn);
    margin-bottom: 50px;
}

.desc-btn {
    background-color: var(--bg-btn);
    color: aliceblue;
    text-decoration: none;
    padding: 10px 25px ;
    border-radius: 50px;
}

.desc-d {
    margin-bottom: 50px;
}

.p{
    position: relative;
    font-size: 30px;
    padding: 20px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    z-index: 2;
}
.p::after{
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(165, 42, 42, 0.681);
    opacity: .4;
    z-index: 1;
}

@media (max-width:767.98px) {
    .desc-title {
        font-size: 47px;
    }
    .block-desc {
        padding-top: 10px;
    }
    .p{
        font-size: 24px;
    }
}